target/META-INF/mule-src/consumption-custom-metric/src/main/mule/consumption-custom-metric-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:custom-metrics="http://www.mulesoft.org/schema/mule/custom-metrics"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/custom-metrics http://www.mulesoft.org/schema/mule/custom-metrics/current/mule-custom-metrics.xsd">

	<!-- HTTP Listener Configuration -->
	<http:listener-config name="httpListener" doc:name="HTTP Listener config">
		<http:listener-connection host="${http.listener.host}" port="${http.listener.port}" />
	</http:listener-config>
	
	<!-- HTTP Request Configuration for httpbin -->
	<http:request-config name="httpbinReq" doc:name="HTTP Request configuration">
		<http:request-connection protocol="${httpbin.protocol}" host="${httpbin.host}" port="${httpbin.port}" />
	</http:request-config>
	
	<!-- Custom Metrics Configuration -->
	<custom-metrics:config name="customMetricsConfig" doc:name="Custom Metrics Config" />

	<!-- Main Flow -->
	<flow name="payloadGenBytesFlow" doc:id="payloadGenBytesFlow">
		<http:listener config-ref="httpListener" path="/payloadGen/bytes/{size}" doc:name="HTTP Listener" />
		
		<!-- Parse size -->
		<set-variable variableName="requestedSize" value="#[attributes.uriParams.size as Number]" doc:name="Set Requested Size" />
		
		<!-- Call httpbin -->
		<http:request config-ref="httpbinReq" method="GET" path="/bytes/#{vars.requestedSize}" doc:name="Call httpbin" />

		<!-- Measure upstream bytes -->
		<set-variable variableName="upstreamBytes" value="#[sizeOf(payload as Binary)]" doc:name="Measure Upstream Bytes" />
		
		<!-- Send metric -->
		<custom-metrics:send config-ref="customMetricsConfig" metricName="payloadgen_transfer" doc:name="Send Metric">
			<custom-metrics:dimensions>
				<custom-metrics:dimension dimensionName="route" value="payloadGen_bytes" />
				<custom-metrics:dimension dimensionName="method" value="GET" />
				<custom-metrics:dimension dimensionName="upstream" value="httpbin" />
				<custom-metrics:dimension dimensionName="outcome" value="success" />
			</custom-metrics:dimensions>
			<custom-metrics:facts>
				<custom-metrics:fact factName="requested_bytes" value="#[vars.requestedSize]" />
				<custom-metrics:fact factName="upstream_body_bytes" value="#[vars.upstreamBytes]" />
			</custom-metrics:facts>
		</custom-metrics:send>

		<!-- Build JSON response -->
		<ee:transform doc:name="Build Base64 JSON Response">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
import toBase64 from dw::core::Binaries
output application/json
var bin = payload as Binary
---
{
  requestedSize: vars.requestedSize,
  upstreamBodyBytes: vars.upstreamBytes,
  encoding: "base64",
  data: toBase64(bin)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>

</mule>
