target/classes/consumption-custom-metric-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:custom-metrics="http://www.mulesoft.org/schema/mule/custom-metrics"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/custom-metrics http://www.mulesoft.org/schema/mule/custom-metrics/current/mule-custom-metrics.xsd">

	<!-- HTTP Listener Configuration -->
	<http:listener-config name="httpListener" doc:name="HTTP Listener config">
		<http:listener-connection host="${http.listener.host}" port="${http.listener.port}" />
	</http:listener-config>
	
	<!-- HTTP Request Configuration for httpbin -->
	<http:request-config name="httpbinReq" doc:name="HTTP Request configuration">
		<http:request-connection protocol="${httpbin.protocol}" host="${httpbin.host}" port="${httpbin.port}" />
	</http:request-config>
	
	<!-- Custom Metrics Configuration -->
	<custom-metrics:config name="customMetricsConfig" doc:name="Custom Metrics Config" />

	<!-- Main Flow -->
	<flow name="payloadGenBytesFlow" doc:id="payloadGenBytesFlow">
		<http:listener config-ref="httpListener" path="/payloadGen/bytes/{size}" doc:name="HTTP Listener" />
		
		<logger level="INFO" doc:name="Log Request" message="Received request for size: #[attributes.uriParams.size]" />

		<!-- Parse and validate size -->
		<set-variable variableName="requestedSize" value="#[attributes.uriParams.size as Number]" doc:name="Set Requested Size" />
		<set-variable variableName="startTime" value="#[java!java::lang::System::currentTimeMillis()]" doc:name="Start Timer" />
		<set-variable variableName="outcome" value="validation_error" doc:name="Set Default Outcome" />

		<!-- Validate size -->
		<choice doc:name="Validate Size">
			<when expression="#[vars.requestedSize <= 0 or vars.requestedSize > 10000000]">
				<logger level="ERROR" doc:name="Log Validation Error" message="Invalid size requested: #[vars.requestedSize]" />
				<set-payload value='#[{ error: "Invalid size. Must be 1..10000000 bytes." }]' mimeType="application/json" doc:name="Set Validation Error Payload" />
				<set-property propertyName="http.status" value="400" doc:name="Set HTTP 400 Status" />
				<set-variable variableName="outcome" value="validation_error" doc:name="Set Validation Error Outcome" />
			</when>
			<otherwise>
				<!-- Call httpbin -->
				<http:request config-ref="httpbinReq" method="GET" path="/bytes/#{vars.requestedSize}" doc:name="Call httpbin" />

				<!-- Measure upstream bytes -->
				<set-variable variableName="upstreamBytes" value="#[sizeOf(payload as Binary)]" doc:name="Measure Upstream Bytes" />
				<set-variable variableName="outcome" value="success" doc:name="Set Success Outcome" />
				
				<logger level="INFO" doc:name="Log Upstream Response" message="Received #[vars.upstreamBytes] bytes from httpbin" />

				<!-- Build JSON response -->
				<ee:transform doc:name="Build Base64 JSON Response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
import toBase64 from dw::core::Binaries
output application/json
var bin = payload as Binary
---
{
  requestedSize: vars.requestedSize,
  upstreamBodyBytes: vars.upstreamBytes,
  encoding: "base64",
  data: toBase64(bin)
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				
				<logger level="INFO" doc:name="Log Success" message="Successfully processed request. Upstream: #[vars.upstreamBytes] bytes" />
			</otherwise>
		</choice>
		
		<!-- Calculate final duration -->
		<set-variable variableName="durationMs" value="#[java!java::lang::System::currentTimeMillis() - vars.startTime]" doc:name="Calculate Final Duration" />
		
		<!-- Send single metric for all cases -->
		<custom-metrics:send config-ref="customMetricsConfig" metricName="payloadgen_transfer" doc:name="Send Single Metric">
			<custom-metrics:dimensions>
				<custom-metrics:dimension dimensionName="route" value="payloadGen_bytes" />
				<custom-metrics:dimension dimensionName="method" value="GET" />
				<custom-metrics:dimension dimensionName="upstream" value="httpbin" />
				<custom-metrics:dimension dimensionName="outcome" value="#[vars.outcome]" />
			</custom-metrics:dimensions>
			<custom-metrics:facts>
				<custom-metrics:fact factName="requested_bytes" value="#[vars.requestedSize]" />
				<custom-metrics:fact factName="upstream_body_bytes" value="#[vars.upstreamBytes default 0]" />
				<custom-metrics:fact factName="duration_ms" value="#[vars.durationMs]" />
			</custom-metrics:facts>
		</custom-metrics:send>
		
		<!-- Error Handler within Flow -->
		<error-handler>
			<on-error-continue type="HTTP:*" doc:name="Handle Upstream HTTP Error">
				<logger level="ERROR" doc:name="Log Upstream Error" message="Upstream error: #[error.description]" />
				<set-payload value='#[{ error: "Upstream service error" }]' mimeType="application/json" doc:name="Set Upstream Error Response" />
				<set-property propertyName="http.status" value="502" doc:name="Set HTTP 502 Status" />
				<set-variable variableName="outcome" value="upstream_error" doc:name="Set Upstream Error Outcome" />
				<set-variable variableName="durationMs" value="#[java!java::lang::System::currentTimeMillis() - vars.startTime]" doc:name="Calculate Error Duration" />
				
				<!-- Send single metric for upstream error -->
				<custom-metrics:send config-ref="customMetricsConfig" metricName="payloadgen_transfer" doc:name="Send Upstream Error Metric">
					<custom-metrics:dimensions>
						<custom-metrics:dimension dimensionName="route" value="payloadGen_bytes" />
						<custom-metrics:dimension dimensionName="method" value="GET" />
						<custom-metrics:dimension dimensionName="upstream" value="httpbin" />
						<custom-metrics:dimension dimensionName="outcome" value="#[vars.outcome]" />
					</custom-metrics:dimensions>
					<custom-metrics:facts>
						<custom-metrics:fact factName="requested_bytes" value="#[vars.requestedSize]" />
						<custom-metrics:fact factName="upstream_body_bytes" value="0" />
						<custom-metrics:fact factName="duration_ms" value="#[vars.durationMs]" />
					</custom-metrics:facts>
				</custom-metrics:send>
			</on-error-continue>
			<on-error-continue type="ANY" doc:name="Handle Any Other Error">
				<logger level="ERROR" doc:name="Log Generic Error" message="Runtime error: #[error.description]" />
				<set-payload value='#[{ error: "Internal server error" }]' mimeType="application/json" doc:name="Set Generic Error Response" />
				<set-property propertyName="http.status" value="500" doc:name="Set HTTP 500 Status" />
				<set-variable variableName="outcome" value="runtime_error" doc:name="Set Runtime Error Outcome" />
				<set-variable variableName="durationMs" value="#[java!java::lang::System::currentTimeMillis() - vars.startTime]" doc:name="Calculate Runtime Error Duration" />
				
				<!-- Send single metric for runtime error -->
				<custom-metrics:send config-ref="customMetricsConfig" metricName="payloadgen_transfer" doc:name="Send Runtime Error Metric">
					<custom-metrics:dimensions>
						<custom-metrics:dimension dimensionName="route" value="payloadGen_bytes" />
						<custom-metrics:dimension dimensionName="method" value="GET" />
						<custom-metrics:dimension dimensionName="upstream" value="httpbin" />
						<custom-metrics:dimension dimensionName="outcome" value="#[vars.outcome]" />
					</custom-metrics:dimensions>
					<custom-metrics:facts>
						<custom-metrics:fact factName="requested_bytes" value="#[vars.requestedSize default 0]" />
						<custom-metrics:fact factName="upstream_body_bytes" value="0" />
						<custom-metrics:fact factName="duration_ms" value="#[vars.durationMs]" />
					</custom-metrics:facts>
				</custom-metrics:send>
			</on-error-continue>
		</error-handler>
	</flow>

</mule>
